<!-- pagination -->
<nav>
     <ul class="pagination justify-content-center">
          <li class="page-item">
<<<<<<< HEAD
               <a href="" class="page-link">Go back</a>
=======
               <a href="" class="page-link">Back</a>
>>>>>>> main
          </li>
          <li class="page-item active">
               <a href="" class="page-link">1</a>
          </li>
          <li class="page-item">
               <a href="" class="page-link">2</a>
          </li>
          <li class="page-item">
               <a href="" class="page-link">3</a>
          </li>
          <li class="page-item">
               <a href="" class="page-link">Next</a>
          </li>
     </ul>
</nav>